.contacto_container {
  width: 100vw;
  height: auto;
  animation: slideIn 0.3s ease-in-out;
  position: relative;
}

.fondo_contacto1 {
  width: auto;
  height: 80vh;
  position: absolute;
  top: 0;
  filter: opacity(0.3);
}

.fondo_contacto2 {
  width: auto;
  height: 150vh;
  position: absolute;
  top: -50vh;
  right: 15px;
  filter: grayscale(100%) opacity(0.3);
}

@media (width <= 576px) {
  .fondo_contacto1 {
    opacity: 0.3;
  }
  .fondo_contacto2 {
    display: none;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
