.card_product_container {
  width: 350px;
  height: 550px;
  border-radius: 1rem;
  background: linear-gradient(45deg, #aa288f 30%, #df037f 100%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  content-visibility: auto;
  transition: 0.3s;
}

.oferta {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 1.1rem;
  animation: oferta 1.5s linear infinite;
}

@keyframes oferta {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.card_informacion {
  width: 120%;
  height: 93%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  border-top-left-radius: 8rem;
  border-top-right-radius: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.card_informacion h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2rem;
  color: #4f4f51;
  margin-top: 20px;
}

.card_informacion p {
  width: 70%;
  height: 48px;
  content-visibility: auto;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  color: #4f4f51;
  line-height: 110%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  text-overflow: ellipsis;
}

.card_informacion img {
  width: 55%;
  height: auto;
  background-color: #4f4f5130;
  border-radius: 1rem;
}

.precio_botones {
  width: 75%;
  display: flex;
  align-items: center;
}

.precio_botones p {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.5rem;
  color: #4f4f51;
  width: 50%;
  height: 100%;
}

.botones_container {
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.botones_container button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
  width: 40px;
  height: 40px;
}

.botones_container button:hover {
  transform: scale(1.1);
}

.botones_container button:active {
  transform: scale(0.97);
}

.botones_container img {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
