.container {
  width: 100vw;
  animation: slideIn 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

@media (width <= 576px) {
  .container {
    gap: 0;
  }
}

.linea_de_productos {
  width: 100%;
  height: 90vh;
  position: relative;
  content-visibility: auto;
  /* margin-top: 20px; */
}

.linea_productos_img1 {
  position: absolute;
  left: 0;
  top: 40%;
  transform: translateY(-50%);
  width: auto;
  height: 90%;
  filter: opacity(0.3);
}

.linea_productos_img2 {
  position: absolute;
  right: 0;
  top: 30%;
  transform: translateY(-50%);
  width: 40vw;
  height: auto;
  filter: opacity(0.3);
}

@media (width <= 576px) {
  .linea_productos_img2 {
    display: none;
  }
}

.logo_linea_productos {
  position: absolute;
  right: 5%;
  top: 10%;
  width: auto;
  height: auto;
}

.linea_de_productos h2 {
  position: absolute;
  right: 5%;
  bottom: 30%;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.2rem;
  color: #4f4f51;
}

@media (width <= 1200px) {
  .logo_linea_productos {
    width: 40%;
    height: auto;
  }
  .linea_de_productos h2 {
    font-size: 1.5rem;
  }
}

.desodorante_pisos {
  width: 100%;
  height: 90vh;
  position: relative;
  content-visibility: auto;
}

.desodorante_pisos_logo {
  position: absolute;
  left: 0;
  top: -130px;
  width: auto;
  height: 100%;
  filter: opacity(0.3);
}

.desodorante_pisos_productos {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-5%, 10%);
  width: 60%;
  height: auto;
}

.desodorante_pisos_textos {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 30%;
  top: 10%;
  right: 10%;
  color: #3c3c3c;
}

.desodorante_pisos_textos h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.desodorante_pisos_textos p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
}

.desodorante_pisos_textos img {
  margin-top: 50px;
}

@media (width <= 1200px) {
  .desodorante_pisos_productos {
    width: 50%;
  }
  .desodorante_pisos_textos {
    top: 15%;
  }

  .desodorante_pisos_textos h2 {
    font-size: 1.5rem;
  }

  .desodorante_pisos_textos p {
    font-size: 0.8rem;
  }

  .desodorante_pisos_textos img {
    width: 250px;
    height: auto;
    margin-top: 50px;
  }
}

@media (width <= 769px) {
  .desodorante_pisos_productos {
    width: 80%;
    left: 50%;
    transform: translate(-50%, -15%);
  }
  .desodorante_pisos_textos {
    width: 80%;
    left: 10%;
  }

  .desodorante_pisos_textos p {
    font-size: 1rem;
  }

  .desodorante_pisos_textos img {
    display: none;
  }
}

@media (width <= 576px) {
  .desodorante_pisos_logo {
    filter: opacity(0.1);
  }
  .desodorante_pisos_productos {
    width: 110%;
    transform: translate(-50%, -50%);
  }
}

.lavandina_concentrada {
  width: 100%;
  height: 90vh;
  position: relative;
  content-visibility: auto;
}

.lavandina_concentrada_logo {
  position: absolute;
  left: 0;
  top: -130px;
  width: auto;
  height: 100%;
  filter: opacity(0.3);
}

.lavandina_concentrada_productos {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(5%, 10%);
  width: 50%;
  height: auto;
}

.lavandina_concentrada_textos {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 30%;
  top: 30%;
  right: 15%;
  color: #3c3c3c;
}

.lavandina_concentrada_textos h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.lavandina_concentrada_textos p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
}

.lavandina_concentrada_textos img {
  margin-top: 50px;
}

@media (width <= 1200px) {
  .lavandina_concentrada_productos {
    width: 50%;
    left: -5%;
  }
  .lavandina_concentrada_textos {
    top: 30%;
  }

  .lavandina_concentrada_textos h2 {
    font-size: 1.5rem;
  }

  .lavandina_concentrada_textos p {
    font-size: 0.8rem;
  }

  .lavandina_concentrada_textos img {
    width: 80px;
    height: auto;
    margin-top: 10px;
  }
}

@media (width <= 769px) {
  .lavandina_concentrada_productos {
    width: 55%;
    left: 50%;
    transform: translate(-50%, -12%);
    bottom: 1%;
  }
  .lavandina_concentrada_textos {
    width: 80%;
    left: 10%;
    top: 15%;
  }

  .lavandina_concentrada_textos p {
    font-size: 1rem;
  }
}

@media (width <= 576px) {
  .lavandina_concentrada_logo {
    filter: opacity(0.1);
  }
  .lavandina_concentrada_productos {
    width: 80%;
    transform: translate(-50%, -30%);
  }
}

.detergente {
  width: 100%;
  height: 90vh;
  position: relative;
  content-visibility: auto;
}

.detergente_logo {
  position: absolute;
  left: 0;
  top: -130px;
  width: auto;
  height: 100%;
  filter: opacity(0.3);
}

.detergente_imagenes {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;
  align-items: center;
  transform: translateY(15%);
}

.limon {
  margin-right: -10%;
}

.detergente_productos {
  width: 65%;
  height: auto;
}

.detergente_original {
  margin-left: -9%;
}

.detergente_textos {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 30%;
  top: 7%;
  right: 25%;
  color: #3c3c3c;
}

.detergente_textos h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.detergente_textos p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
}

@media (width <= 1200px) {
  .detergente_imagenes {
    bottom: 15%;
  }
  .limon {
    width: 100px;
    height: auto;
    margin-right: -5%;
  }
  .detergente_productos {
    width: 50%;
  }
  .detergente_original {
    width: 100px;
    height: auto;
    margin-left: -5%;
  }
  .detergente_textos {
    top: 20%;
    right: 15%;
  }

  .detergente_textos h2 {
    font-size: 1.5rem;
  }

  .detergente_textos p {
    font-size: 0.8rem;
  }
}

@media (width <= 769px) {
  .detergente_imagenes {
    bottom: 20%;
    justify-content: center;
    padding-right: 0;
  }
  .limon {
    display: none;
  }
  .detergente_productos {
    width: 70%;
  }
  .detergente_original {
    display: none;
  }
  .detergente_textos {
    width: 80%;
    left: 10%;
    top: 15%;
  }

  .detergente_textos p {
    font-size: 1rem;
  }
}

@media (width <= 576px) {
  .detergente_logo {
    filter: opacity(0.1);
  }
  .detergente_productos {
    width: 100%;
  }
}

.detergente30 {
  width: 100%;
  height: 90vh;
  position: relative;
  content-visibility: auto;
}

.detergente30_logo {
  position: absolute;
  left: 0;
  top: -130px;
  width: auto;
  height: 100%;
  filter: opacity(0.3);
}

.detergente30_productos {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(5%, 10%);
  width: 50%;
  height: auto;
}

.detergente30_textos {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 30%;
  top: 40%;
  right: 15%;
  color: #3c3c3c;
}

.detergente30_textos h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.detergente30_textos p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
}

@media (width <= 1200px) {
  .detergente30_productos {
    width: 50%;
  }
  .detergente30_textos {
    top: 40%;
  }

  .detergente30_textos h2 {
    font-size: 1.5rem;
  }

  .detergente30_textos p {
    font-size: 0.8rem;
  }
}

@media (width <= 769px) {
  .detergente30_imagenes {
    bottom: 20%;
    justify-content: center;
    padding-right: 0;
  }
  .detergente30_productos {
    width: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
  }
  .detergente30_textos {
    width: 80%;
    left: 10%;
    top: 15%;
  }

  .detergente30_textos p {
    font-size: 1rem;
  }
}

@media (width <= 576px) {
  .detergente30_logo {
    filter: opacity(0.1);
  }
  .detergente30_productos {
    width: 80%;
    transform: translate(-50%, -30%);
  }
}

.detergente15 {
  width: 100%;
  height: 90vh;
  position: relative;
  content-visibility: auto;
}

.detergente15_logo {
  position: absolute;
  left: 0;
  top: -130px;
  width: auto;
  height: 100%;
  filter: opacity(0.3);
}

.detergente15_productos {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(5%, 10%);
  width: 50%;
  height: auto;
}

.detergente15_textos {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 30%;
  top: 40%;
  right: 15%;
  color: #3c3c3c;
}

.detergente15_textos h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.detergente15_textos p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
}

@media (width <= 1200px) {
  .detergente15_productos {
    width: 50%;
  }
  .detergente15_textos {
    top: 40%;
  }

  .detergente15_textos h2 {
    font-size: 1.5rem;
  }

  .detergente15_textos p {
    font-size: 0.8rem;
  }
}

@media (width <= 769px) {
  .detergente15_imagenes {
    bottom: 20%;
    justify-content: center;
    padding-right: 0;
  }
  .detergente15_productos {
    width: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
  }
  .detergente15_textos {
    width: 80%;
    left: 10%;
    top: 15%;
  }

  .detergente15_textos p {
    font-size: 1rem;
  }
}

@media (width <= 576px) {
  .detergente15_logo {
    filter: opacity(0.1);
  }
  .detergente15_productos {
    width: 80%;
    transform: translate(-50%, -30%);
  }
}

.antigrasa {
  width: 100%;
  height: 90vh;
  position: relative;
  content-visibility: auto;
}

.antigrasa_logo {
  position: absolute;
  left: 0;
  top: -130px;
  width: auto;
  height: 100%;
  filter: opacity(0.3);
}

.antigrasa_productos {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(5%, 10%);
  width: 50%;
  height: auto;
}

.antigrasa_textos {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 30%;
  top: 30%;
  right: 15%;
  color: #3c3c3c;
}

.antigrasa_textos h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.antigrasa_textos p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
}

@media (width <= 1200px) {
  .antigrasa_productos {
    width: 50%;
  }
  .antigrasa_textos {
    top: 30%;
  }

  .antigrasa_textos h2 {
    font-size: 1.5rem;
  }

  .antigrasa_textos p {
    font-size: 0.8rem;
  }
}

@media (width <= 769px) {
  .antigrasa_imagenes {
    bottom: 20%;
    justify-content: center;
    padding-right: 0;
  }
  .antigrasa_productos {
    width: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
  }
  .antigrasa_textos {
    width: 80%;
    left: 10%;
    top: 10%;
  }

  .antigrasa_textos p {
    font-size: 1rem;
  }
}

@media (width <= 576px) {
  .antigrasa_logo {
    filter: opacity(0.1);
  }
  .antigrasa_productos {
    width: 80%;
    transform: translate(-50%, -30%);
  }
}

.desengrasante {
  width: 100%;
  height: 90vh;
  position: relative;
  content-visibility: auto;
}

.desengrasante_logo {
  position: absolute;
  left: 0;
  top: -130px;
  width: auto;
  height: 100%;
  filter: opacity(0.3);
}

.desengrasante_productos {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-5%, 10%);
  width: 60%;
  height: auto;
}

.desengrasante_textos {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 30%;
  top: 10%;
  right: 15%;
  color: #3c3c3c;
}

.desengrasante_textos h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.desengrasante_textos p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
}

@media (width <= 1200px) {
  .desengrasante_productos {
    width: 50%;
  }
  .desengrasante_textos {
    top: 25%;
    gap: 10px;
  }

  .desengrasante_textos h2 {
    font-size: 1.5rem;
  }

  .desengrasante_textos p {
    font-size: 0.8rem;
  }

  .desengrasante_textos img {
    width: 80px;
    height: auto;
  }
}

@media (width <= 769px) {
  .desengrasante_imagenes {
    bottom: 20%;
    justify-content: center;
    padding-right: 0;
  }
  .desengrasante_productos {
    width: 68%;
    left: 50%;
    transform: translate(-50%, -17%);
  }

  .desengrasante_textos {
    width: 80%;
    left: 10%;
    top: 10%;
  }

  .desengrasante_textos img {
    display: none;
  }

  .desengrasante_textos p {
    font-size: 1rem;
  }
}

@media (width <= 576px) {
  .desengrasante_logo {
    filter: opacity(0.1);
  }
  .desengrasante_productos {
    width: 110%;
    transform: translate(-50%, -30%);
  }
}

.limpiavidrios {
  width: 100%;
  height: 90vh;
  position: relative;
  content-visibility: auto;
}

.limpiavidrios_logo {
  position: absolute;
  left: 0;
  top: -130px;
  width: auto;
  height: 100%;
  filter: opacity(0.3);
}

.limpiavidrios_productos {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(5%, 10%);
  width: 50%;
  height: auto;
}

.limpiavidrios_textos {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 30%;
  top: 40%;
  right: 15%;
  color: #3c3c3c;
}

.limpiavidrios_textos h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.limpiavidrios_textos p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
}

@media (width <= 1200px) {
  .limpiavidrios_productos {
    width: 50%;
  }
  .limpiavidrios_textos {
    top: 40%;
  }

  .limpiavidrios_textos h2 {
    font-size: 1.5rem;
  }

  .limpiavidrios_textos p {
    font-size: 0.8rem;
  }
}

@media (width <= 769px) {
  .limpiavidrios_imagenes {
    bottom: 20%;
    justify-content: center;
    padding-right: 0;
  }
  .limpiavidrios_productos {
    width: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
  }
  .limpiavidrios_textos {
    width: 80%;
    left: 10%;
    top: 5%;
  }

  .limpiavidrios_textos p {
    font-size: 1rem;
  }
}

@media (width <= 576px) {
  .limpiavidrios_logo {
    filter: opacity(0.1);
  }
  .limpiavidrios_textos {
    top: 10%;
  }
  .limpiavidrios_productos {
    width: 80%;
    transform: translate(-50%, -30%);
  }
}

.shampo_autos {
  width: 100%;
  height: 90vh;
  position: relative;
  content-visibility: auto;
}

.shampo_autos_logo {
  position: absolute;
  left: 0;
  top: -130px;
  width: auto;
  height: 100%;
  filter: opacity(0.3);
}

.shampo_autos_productos {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-5%, 7%);
  width: 67%;
  height: auto;
}

.shampo_autos_textos {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 30%;
  top: 35%;
  right: 15%;
  color: #3c3c3c;
}

.shampo_autos_textos h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.shampo_autos_textos p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
}

@media (width <= 1200px) {
  .shampo_autos_productos {
    width: 67%;
  }
  .shampo_autos_textos {
    top: 30%;
  }

  .shampo_autos_textos h2 {
    font-size: 1.5rem;
  }

  .shampo_autos_textos p {
    font-size: 0.8rem;
  }
}

@media (width <= 769px) {
  .shampo_autos_imagenes {
    bottom: 20%;
    justify-content: center;
    padding-right: 0;
  }
  .shampo_autos_productos {
    width: 65%;
    left: 50%;
    transform: translate(-50%, -25%);
  }
  .shampo_autos_textos {
    width: 80%;
    left: 10%;
    top: 5%;
  }

  .shampo_autos_textos p {
    font-size: 1rem;
  }
}

@media (width <= 576px) {
  .shampo_autos_logo {
    filter: opacity(0.1);
  }
  .shampo_autos_textos {
    top: 7%;
  }
  .shampo_autos_productos {
    width: 110%;
    left: 55%;
    transform: translate(-50%, -30%);
  }
}

.jabon_liquido_baja_espuma {
  width: 100%;
  height: 90vh;
  position: relative;
  content-visibility: auto;
}

.jabon_liquido_baja_espuma_logo {
  position: absolute;
  left: 0;
  top: -130px;
  width: auto;
  height: 100%;
  filter: opacity(0.3);
}

.jabon_liquido_baja_espuma_productos {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-7%, 10%);
  width: 60%;
  height: auto;
}

.jabon_liquido_baja_espuma_textos {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 30%;
  top: 20%;
  right: 15%;
  color: #3c3c3c;
}

.jabon_liquido_baja_espuma_textos h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.jabon_liquido_baja_espuma_textos p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
}

.jabon_liquido_baja_espuma_textos img {
  margin-top: 50px;
}

@media (width <= 1200px) {
  .jabon_liquido_baja_espuma_productos {
    width: 50%;
    left: 2%;
  }
  .jabon_liquido_baja_espuma_textos {
    top: 30%;
  }

  .jabon_liquido_baja_espuma_textos h2 {
    font-size: 1.5rem;
  }

  .jabon_liquido_baja_espuma_textos p {
    font-size: 0.8rem;
  }

  .jabon_liquido_baja_espuma_textos img {
    width: 80px;
    height: auto;
    margin-top: 10px;
  }
}

@media (width <= 769px) {
  .jabon_liquido_baja_espuma_imagenes {
    bottom: 20%;
    justify-content: center;
    padding-right: 0;
  }
  .jabon_liquido_baja_espuma_productos {
    width: 70%;
    left: 50%;
    transform: translate(-50%, -20%);
  }
  .jabon_liquido_baja_espuma_textos {
    width: 80%;
    left: 10%;
    top: 10%;
  }

  .jabon_liquido_baja_espuma_textos img {
    display: none;
  }

  .jabon_liquido_baja_espuma_textos p {
    font-size: 1rem;
  }
}

@media (width <= 576px) {
  .jabon_liquido_baja_espuma_logo {
    filter: opacity(0.1);
  }
  .jabon_liquido_baja_espuma_productos {
    width: 110%;
    transform: translate(-50%, -30%);
  }
}

.suavizante_ropa {
  width: 100%;
  height: 90vh;
  position: relative;
  content-visibility: auto;
}

.suavizante_ropa_logo {
  position: absolute;
  left: 0;
  top: -130px;
  width: auto;
  height: 100%;
  filter: opacity(0.3);
}

.suavizante_ropa_productos {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-7%, 10%);
  width: 60%;
  height: auto;
}

.suavizante_ropa_textos {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 30%;
  top: 25%;
  right: 15%;
  color: #3c3c3c;
}

.suavizante_ropa_textos h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.suavizante_ropa_textos p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
}

.suavizante_ropa_textos img {
  margin-top: 50px;
}

@media (width <= 1200px) {
  .suavizante_ropa_productos {
    width: 50%;
    left: 1.5%;
  }
  .suavizante_ropa_textos {
    top: 30%;
  }

  .suavizante_ropa_textos h2 {
    font-size: 1.5rem;
  }

  .suavizante_ropa_textos p {
    font-size: 0.8rem;
  }

  .suavizante_ropa_textos img {
    width: 300px;
    height: auto;
    margin-top: 10px;
  }
}

@media (width <= 769px) {
  .suavizante_ropa_imagenes {
    bottom: 20%;
    justify-content: center;
    padding-right: 0;
  }
  .suavizante_ropa_productos {
    width: 75%;
    left: 50%;
    transform: translate(-50%, -20%);
  }
  .suavizante_ropa_textos {
    width: 80%;
    left: 10%;
    top: 5%;
  }

  .suavizante_ropa_textos img {
    display: none;
  }

  .suavizante_ropa_textos p {
    font-size: 1rem;
  }
}

@media (width <= 576px) {
  .suavizante_ropa_logo {
    filter: opacity(0.1);
  }
  .suavizante_ropa_textos {
    top: 10%;
  }
  .suavizante_ropa_productos {
    width: 110%;
    transform: translate(-50%, -30%);
  }
}

.shampo_manos {
  width: 100%;
  height: 90vh;
  position: relative;
  content-visibility: auto;
}

.shampo_manos_logo {
  position: absolute;
  left: 0;
  top: -130px;
  width: auto;
  height: 100%;
  filter: opacity(0.3);
}

.shampo_manos_productos {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-7%, 10%);
  width: 60%;
  height: auto;
}

.shampo_manos_textos {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 30%;
  top: 25%;
  right: 15%;
  color: #3c3c3c;
}

.shampo_manos_textos h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.shampo_manos_textos p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
}

.shampo_manos_textos img {
  margin-top: 50px;
}

@media (width <= 1200px) {
  .shampo_manos_productos {
    width: 50%;
    left: 1.5%;
  }
  .shampo_manos_textos {
    top: 30%;
  }

  .shampo_manos_textos h2 {
    font-size: 1.5rem;
  }

  .shampo_manos_textos p {
    font-size: 0.8rem;
  }

  .shampo_manos_textos img {
    width: 300px;
    height: auto;
    margin-top: 10px;
  }
}

@media (width <= 769px) {
  .shampo_manos_imagenes {
    bottom: 20%;
    justify-content: center;
    padding-right: 0;
  }
  .shampo_manos_productos {
    width: 75%;
    left: 50%;
    transform: translate(-50%, -25%);
  }
  .shampo_manos_textos {
    width: 80%;
    left: 10%;
    top: 5%;
  }

  .shampo_manos_textos img {
    display: none;
  }

  .shampo_manos_textos p {
    font-size: 1rem;
  }
}

@media (width <= 576px) {
  .shampo_manos_logo {
    filter: opacity(0.1);
  }
  .shampo_manos_textos {
    top: 10%;
  }
  .shampo_manos_productos {
    width: 110%;
    transform: translate(-50%, -30%);
  }
}

.cloro_liquido {
  width: 100%;
  height: 90vh;
  position: relative;
  content-visibility: auto;
}

.cloro_liquido_logo {
  position: absolute;
  left: 0;
  top: -130px;
  width: auto;
  height: 100%;
  filter: opacity(0.3);
}

.cloro_liquido_productos {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-5%, 10%);
  width: 65%;
  height: auto;
}

.cloro_liquido_textos {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 30%;
  top: 30%;
  right: 15%;
  color: #3c3c3c;
}

.cloro_liquido_textos h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.cloro_liquido_textos p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
}

@media (width <= 1200px) {
  .cloro_liquido_productos {
    width: 68%;
    left: -1%;
  }
  .cloro_liquido_textos {
    top: 30%;
  }

  .cloro_liquido_textos h2 {
    font-size: 1.5rem;
  }

  .cloro_liquido_textos p {
    font-size: 0.8rem;
  }

  .cloro_liquido_textos img {
    width: 300px;
    height: auto;
    margin-top: 10px;
  }
}

@media (width <= 769px) {
  .cloro_liquido_imagenes {
    bottom: 20%;
    justify-content: center;
    padding-right: 0;
  }
  .cloro_liquido_productos {
    width: 65%;
    left: 50%;
    transform: translate(-50%, -25%);
  }
  .cloro_liquido_textos {
    width: 80%;
    left: 10%;
    top: 5%;
  }
  .cloro_liquido_textos p {
    font-size: 1rem;
  }
}

@media (width <= 576px) {
  .cloro_liquido_logo {
    filter: opacity(0.1);
  }
  .cloro_liquido_textos {
    top: 10%;
  }
  .cloro_liquido_productos {
    width: 100%;
    transform: translate(-50%, -35%);
  }
}

.cera_acrilica {
  width: 100%;
  height: 90vh;
  position: relative;
  content-visibility: auto;
}

.cera_acrilica_logo {
  position: absolute;
  left: 0;
  top: -130px;
  width: auto;
  height: 100%;
  filter: opacity(0.3);
}

.cera_acrilica_productos {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(0%, 10%);
  width: 55%;
  height: auto;
}

.cera_acrilica_textos {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 30%;
  top: 30%;
  right: 15%;
  color: #3c3c3c;
}

.cera_acrilica_textos h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.cera_acrilica_textos p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
}

.cera_acrilica_textos img {
  margin-top: 50px;
}

@media (width <= 1200px) {
  .cera_acrilica_productos {
    width: 48%;
    left: 0;
  }
  .cera_acrilica_textos {
    top: 30%;
  }

  .cera_acrilica_textos h2 {
    font-size: 1.5rem;
  }

  .cera_acrilica_textos p {
    font-size: 0.8rem;
  }

  .cera_acrilica_textos img {
    width: 300px;
    height: auto;
    margin-top: 10px;
  }
}

@media (width <= 769px) {
  .cera_acrilica_imagenes {
    bottom: 20%;
    justify-content: center;
    padding-right: 0;
  }
  .cera_acrilica_productos {
    width: 70%;
    left: 50%;
    transform: translate(-50%, -20%);
  }
  .cera_acrilica_textos {
    width: 80%;
    left: 10%;
    top: 5%;
  }

  .cera_acrilica_textos img {
    display: none;
  }

  .cera_acrilica_textos p {
    font-size: 1rem;
  }
}

@media (width <= 576px) {
  .cera_acrilica_logo {
    filter: opacity(0.1);
  }
  .cera_acrilica_textos {
    top: 10%;
  }
  .cera_acrilica_productos {
    width: 100%;
    left: 52%;
    transform: translate(-50%, -35%);
  }
}

.liquido_desinfectante {
  width: 100%;
  height: 90vh;
  position: relative;
  content-visibility: auto;
}

.liquido_desinfectante_logo {
  position: absolute;
  left: 0;
  top: -130px;
  width: auto;
  height: 100%;
  filter: opacity(0.3);
}

.liquido_desinfectante_productos {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(4%, 10%);
  width: 50%;
  height: auto;
}

.liquido_desinfectante_textos {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 30%;
  top: 30%;
  right: 15%;
  color: #3c3c3c;
}

.liquido_desinfectante_textos h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.liquido_desinfectante_textos p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
}

.liquido_desinfectante_textos img {
  margin-top: 50px;
}

@media (width <= 1200px) {
  .liquido_desinfectante_productos {
    width: 50%;
    left: 0%;
  }
  .liquido_desinfectante_textos {
    top: 25%;
  }

  .liquido_desinfectante_textos h2 {
    font-size: 1.5rem;
  }

  .liquido_desinfectante_textos p {
    font-size: 0.8rem;
  }

  .liquido_desinfectante_textos img {
    width: 80px;
    height: auto;
    margin-top: 10px;
  }
}

@media (width <= 769px) {
  .liquido_desinfectante_imagenes {
    bottom: 20%;
    justify-content: center;
    padding-right: 0;
  }
  .liquido_desinfectante_productos {
    width: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
  }
  .liquido_desinfectante_textos {
    width: 80%;
    left: 10%;
    top: 5%;
  }

  .liquido_desinfectante_textos p {
    font-size: 1rem;
  }
}

@media (width <= 576px) {
  .liquido_desinfectante_logo {
    filter: opacity(0.1);
  }
  .liquido_desinfectante_textos {
    top: 8%;
  }
  .liquido_desinfectante_productos {
    width: 80%;
    transform: translate(-50%, -30%);
  }
}

.alcohol_gel {
  width: 100%;
  height: 90vh;
  position: relative;
  content-visibility: auto;
}

.alcohol_gel_logo {
  position: absolute;
  left: 0;
  top: -130px;
  width: auto;
  height: 100%;
  filter: opacity(0.3);
}

.alcohol_gel_productos {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(4%, 10%);
  width: 50%;
  height: auto;
}

.alcohol_gel_textos {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 30%;
  top: 30%;
  right: 15%;
  color: #3c3c3c;
}

.alcohol_gel_textos h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.alcohol_gel_textos p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
}

@media (width <= 1200px) {
  .alcohol_gel_productos {
    width: 50%;
    left: 0%;
  }
  .alcohol_gel_textos {
    top: 25%;
  }

  .alcohol_gel_textos h2 {
    font-size: 1.5rem;
  }

  .alcohol_gel_textos p {
    font-size: 0.8rem;
  }
}

@media (width <= 769px) {
  .alcohol_gel_imagenes {
    bottom: 20%;
    justify-content: center;
    padding-right: 0;
  }
  .alcohol_gel_productos {
    width: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
  }
  .alcohol_gel_textos {
    width: 80%;
    left: 10%;
    top: 2%;
  }

  .alcohol_gel_textos p {
    font-size: 1rem;
  }
}

@media (width <= 576px) {
  .alcohol_gel_logo {
    filter: opacity(0.1);
  }
  .alcohol_gel_textos {
    top: 8%;
  }
  .alcohol_gel_productos {
    width: 80%;
    transform: translate(-50%, -25%);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
