.layout_container {
  width: 100vw;
  height: auto;
  animation: slideIn 0.3s ease-in-out;
  position: relative;
  animation: slideIn 0.3s ease-in-out;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
